.page {
  padding: 0;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  color: var(--text-main-white);
  background-color: var(--bg-dark-grey);
}

@media screen and (max-width: 1024px){
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px){
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px){
  .page {
    min-width: 320px;
  }
}
