.outro__header {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  max-width: 560px;
  font-size: 72px;
  font-weight: var(--font-weight-black);
  line-height: 76px;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 623px){
  .outro__header {
    max-width: 255px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
