.author {
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 16px;
  text-align: end;
}

@media screen and (max-width: 623px){
  .author {
    text-align: start;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
  }
}
