.page__lead {
  margin: 0 148px;
  margin-bottom: var(--margin-bottom-large);
}

@media screen and (max-width: 1024px){
  .page__lead {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1024px){
  .page__lead {
    margin-bottom: var(--margin-bottom-large);
  }
}

@media screen and (max-width: 768px){
  .page__lead {
    margin: 0;
    margin-bottom: var(--margin-bottom-768-large);
  }
}

@media screen and (max-width: 320px){
  .page__lead {
    margin-bottom: var(--margin-bottom-320-large);
  }
}
