.place__header {
  padding: 0;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  font-size: 72px;
  font-weight: var(--font-weight-bold);
  line-height: 76px;
}

@media screen and (max-width: 768px){
  .place__header {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px){
  .place__header {
    margin: 0 16px;
    margin-bottom: 32px;
    align-self: auto;
    font-size: 32px;
    line-height: 35px;
  }
}
