.lang__el {
  padding: 0;
  margin: 0;
  margin-left: 18px;
  display: block;
  border: none;
  background-color: inherit;
  color: var(--text-main-white);
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  line-height: 28px;
}

.lang__el:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 320px){
  .lang__el {
    margin-top: 0;
    font-size: 18px;
    line-height: 20px;
  }
}
