.lead__subheader {
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
  max-width: 620px;
  font-size: 30px;
  font-weight: var(--font-weight-normal);
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 1024px){
  .lead__subheader {
    margin-bottom: 51px;
  }
}

@media screen and (max-width: 692px){
  .lead__subheader {
    max-width: 288px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
