.main__el_margin_left {
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 1024px){
  .main__el_margin_left {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px){
  .main__el_margin_left {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px){
  .main__el_margin_left {
    margin-right: 16px;
  }
}
