.outro__subheader {
  padding: 0;
  margin: 0;
  max-width: 360px;
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  line-height: 22px;
  text-align: center;
  z-index: 2;
}
@media screen and (max-width: 623px){
  .outro__subheader {
    max-width: 256px;
    font-size: 14px;
    line-height: 16px;
  }
}
